<?xml version="1.0"?>
<config>
  <MAX_ENTRY_FILTERS>4</MAX_ENTRY_FILTERS>
  <MAX_EXIT_FILTERS>2</MAX_EXIT_FILTERS>
  <SIGMA_MODE_MAIN_CHART>1</SIGMA_MODE_MAIN_CHART>
  <SIGMA_MODE_SEPARATED_CHART>5</SIGMA_MODE_SEPARATED_CHART>
  <installed>True</installed>
  <showStartingTip>True</showStartingTip>
  <currentTipNumber>-1</currentTipNumber>
  <language>English</language>
  <gradientView>True</gradientView>
  <colorScheme>Light Blue</colorScheme>
  <multipleInstances>False</multipleInstances>
  <playSounds>True</playSounds>
  <rememberLastStrategy>True</rememberLastStrategy>
  <lastStrategy></lastStrategy>
  <checkForUpdates>True</checkForUpdates>
  <checkForNewBeta>False</checkForNewBeta>
  <loadCustomIndicators>True</loadCustomIndicators>
  <showCustomIndicators>False</showCustomIndicators>
  <bridgeWritesLog>False</bridgeWritesLog>
  <lastTab>0</lastTab>
  <useLogicalGroups>False</useLogicalGroups>
  <journalLength>1000</journalLength>
  <trade>
    <longTradeLogicPrice>Bid</longTradeLogicPrice>
    <barCloseAdvance>3</barCloseAdvance>
    <autoSlippage>True</autoSlippage>
    <slippageEntryOrders>5</slippageEntryOrders>
    <slippageExitOrders>10</slippageExitOrders>
    <minChartBars>400</minChartBars>
  </trade>
  <chart>
    <zoom>9</zoom>
    <infoPanel>False</infoPanel>
    <grid>True</grid>
    <cross>False</cross>
    <volume>False</volume>
    <lots>True</lots>
    <orders>True</orders>
    <positionPrice>True</positionPrice>
    <trueCharts>False</trueCharts>
    <shift>False</shift>
    <autoScroll>True</autoScroll>
  </chart>
  <journal>
    <showSystemMessages>False</showSystemMessages>
    <showTicks>False</showTicks>
  </journal>
</config>